<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript - Display JSON data as list</title>
</head>
<body>
    <h1>Display JSON Data as list.</h1>
    <button onclick="showList()">Show List</button>

    <script Content-Type: text/javascript; charset=utf-8>
        function showList() {
            fetch("test")
            .then(response => {
              return response.json()
            })
            .then(data => {
              document.getElementById('text').innerHTML=Object.values(data);
            });
        }
      </script>
      <p id="text"></p>
</body>
</html>

